# Creating new database and collection

In [2]:
import pymongo

new_client = pymongo.MongoClient("mongodb://localhost:27017")

new_db = new_client['data_test']

new_col = new_db['students']

# Adding single data

In [12]:
new_dict = {"name": "Messi", "code": "code11"}

adding = new_col.insert_one(new_dict)

print(adding.inserted_id)

64f06e36eb393a9c003763e3

# Adding multiple data

In [13]:
list_of_students = [
    { "name": "student00", "code": "code00" },
    { "name": "student01", "code": "code01" },
    { "name": "student02", "code": "code02" },
    { "name": "student03", "code": "code03" },
    { "name": "student04", "code": "code04" },
    { "name": "student05", "code": "code05" }
]

add_many= new_col.insert_many(list_of_students)

print(add_many.inserted_ids)

[ObjectId('64f06e39eb393a9c003763e4'), ObjectId('64f06e39eb393a9c003763e5'), ObjectId('64f06e39eb393a9c003763e6'), ObjectId('64f06e39eb393a9c003763e7'), ObjectId('64f06e39eb393a9c003763e8'), ObjectId('64f06e39eb393a9c003763e9')]

# Changing default id number

In [17]:
list_of_students = [
    { "_id": 1, "name": "student00", "code": "code00" },
    { "_id": 2, "name": "student01", "code": "code01" },
    { "_id": 3, "name": "student02", "code": "code02" },
    { "_id": 4, "name": "student03", "code": "code03" },
    { "_id": 5, "name": "student04", "code": "code04" },
    { "_id": 6, "name": "student05", "code": "code05" }
]

adding_many = new_col.insert_many(list_of_students)

print(adding_many.inserted_ids)

[1, 2, 3, 4, 5, 6]

# Show Data

In [15]:
finding= new_col.find_one()
print(finding)

{'_id': ObjectId('64f06e36eb393a9c003763e3'), 'name': 'Messi', 'code': 'code11'}

# Show all Data

In [3]:
for docu in new_col.find():
    print(docu)

{'_id': ObjectId('64f06e36eb393a9c003763e3'), 'name': 'Messi', 'code': 'code11'}
{'_id': ObjectId('64f06e39eb393a9c003763e4'), 'name': 'student00', 'code': 'code00'}
{'_id': ObjectId('64f06e39eb393a9c003763e5'), 'name': 'student01', 'code': 'code01'}
{'_id': ObjectId('64f06e39eb393a9c003763e6'), 'name': 'student02', 'code': 'code02'}
{'_id': ObjectId('64f06e39eb393a9c003763e7'), 'name': 'student03', 'code': 'code03'}
{'_id': ObjectId('64f06e39eb393a9c003763e8'), 'name': 'student04', 'code': 'code04'}
{'_id': ObjectId('64f06e39eb393a9c003763e9'), 'name': 'student05', 'code': 'code05'}
{'_id': 1, 'name': 'student00', 'code': 'code00'}
{'_id': 2, 'name': 'student01', 'code': 'code01'}
{'_id': 3, 'name': 'student02', 'code': 'code02'}
{'_id': 4, 'name': 'student03', 'code': 'code03'}
{'_id': 5, 'name': 'student04', 'code': 'code04'}
{'_id': 6, 'name': 'student05', 'code': 'code05'}

# Show Specefic Data

In [4]:
new_query = {"code": "code01"}

new_doc= new_col.find(new_query)

for i in new_doc:
    print(i)

{'_id': ObjectId('64f06e39eb393a9c003763e5'), 'name': 'student01', 'code': 'code01'}
{'_id': 2, 'name': 'student01', 'code': 'code01'}

In [7]:
new_query={"code": {"$gt": "code"}}
new_doc= new_col.find(new_query)

for i in new_doc:
    print(i)

{'_id': ObjectId('64f06e36eb393a9c003763e3'), 'name': 'Messi', 'code': 'code11'}
{'_id': ObjectId('64f06e39eb393a9c003763e4'), 'name': 'student00', 'code': 'code00'}
{'_id': ObjectId('64f06e39eb393a9c003763e5'), 'name': 'student01', 'code': 'code01'}
{'_id': ObjectId('64f06e39eb393a9c003763e6'), 'name': 'student02', 'code': 'code02'}
{'_id': ObjectId('64f06e39eb393a9c003763e7'), 'name': 'student03', 'code': 'code03'}
{'_id': ObjectId('64f06e39eb393a9c003763e8'), 'name': 'student04', 'code': 'code04'}
{'_id': ObjectId('64f06e39eb393a9c003763e9'), 'name': 'student05', 'code': 'code05'}
{'_id': 1, 'name': 'student00', 'code': 'code00'}
{'_id': 2, 'name': 'student01', 'code': 'code01'}
{'_id': 3, 'name': 'student02', 'code': 'code02'}
{'_id': 4, 'name': 'student03', 'code': 'code03'}
{'_id': 5, 'name': 'student04', 'code': 'code04'}
{'_id': 6, 'name': 'student05', 'code': 'code05'}

# Sorting Data

Ascending order

In [8]:
new_query = new_col.find().sort("name")

for i in new_query:
    print(i)

{'_id': ObjectId('64f06e36eb393a9c003763e3'), 'name': 'Messi', 'code': 'code11'}
{'_id': ObjectId('64f06e39eb393a9c003763e4'), 'name': 'student00', 'code': 'code00'}
{'_id': 1, 'name': 'student00', 'code': 'code00'}
{'_id': ObjectId('64f06e39eb393a9c003763e5'), 'name': 'student01', 'code': 'code01'}
{'_id': 2, 'name': 'student01', 'code': 'code01'}
{'_id': ObjectId('64f06e39eb393a9c003763e6'), 'name': 'student02', 'code': 'code02'}
{'_id': 3, 'name': 'student02', 'code': 'code02'}
{'_id': ObjectId('64f06e39eb393a9c003763e7'), 'name': 'student03', 'code': 'code03'}
{'_id': 4, 'name': 'student03', 'code': 'code03'}
{'_id': ObjectId('64f06e39eb393a9c003763e8'), 'name': 'student04', 'code': 'code04'}
{'_id': 5, 'name': 'student04', 'code': 'code04'}
{'_id': ObjectId('64f06e39eb393a9c003763e9'), 'name': 'student05', 'code': 'code05'}
{'_id': 6, 'name': 'student05', 'code': 'code05'}

Descending order

In [9]:
new_query = new_col.find().sort("name",-1)

for i in new_query:
    print(i)

{'_id': ObjectId('64f06e39eb393a9c003763e9'), 'name': 'student05', 'code': 'code05'}
{'_id': 6, 'name': 'student05', 'code': 'code05'}
{'_id': ObjectId('64f06e39eb393a9c003763e8'), 'name': 'student04', 'code': 'code04'}
{'_id': 5, 'name': 'student04', 'code': 'code04'}
{'_id': ObjectId('64f06e39eb393a9c003763e7'), 'name': 'student03', 'code': 'code03'}
{'_id': 4, 'name': 'student03', 'code': 'code03'}
{'_id': ObjectId('64f06e39eb393a9c003763e6'), 'name': 'student02', 'code': 'code02'}
{'_id': 3, 'name': 'student02', 'code': 'code02'}
{'_id': ObjectId('64f06e39eb393a9c003763e5'), 'name': 'student01', 'code': 'code01'}
{'_id': 2, 'name': 'student01', 'code': 'code01'}
{'_id': ObjectId('64f06e39eb393a9c003763e4'), 'name': 'student00', 'code': 'code00'}
{'_id': 1, 'name': 'student00', 'code': 'code00'}
{'_id': ObjectId('64f06e36eb393a9c003763e3'), 'name': 'Messi', 'code': 'code11'}

# Deleting Data

Deleting one document

In [12]:
new_query = {"code": "code01"}

new_col.delete_one(new_query)

for x in new_col.find():
    print(x)

{'_id': ObjectId('64f06e36eb393a9c003763e3'), 'name': 'Messi', 'code': 'code11'}
{'_id': ObjectId('64f06e39eb393a9c003763e4'), 'name': 'student00', 'code': 'code00'}
{'_id': ObjectId('64f06e39eb393a9c003763e6'), 'name': 'student02', 'code': 'code02'}
{'_id': ObjectId('64f06e39eb393a9c003763e7'), 'name': 'student03', 'code': 'code03'}
{'_id': ObjectId('64f06e39eb393a9c003763e8'), 'name': 'student04', 'code': 'code04'}
{'_id': ObjectId('64f06e39eb393a9c003763e9'), 'name': 'student05', 'code': 'code05'}
{'_id': 1, 'name': 'student00', 'code': 'code00'}
{'_id': 3, 'name': 'student02', 'code': 'code02'}
{'_id': 4, 'name': 'student03', 'code': 'code03'}
{'_id': 5, 'name': 'student04', 'code': 'code04'}
{'_id': 6, 'name': 'student05', 'code': 'code05'}

Deleting multiple docs

In [14]:
new_q = {"code": {"$regex": "^code03"}}

x= new_col.delete_many(new_q)

print(x.deleted_count, "documents deleted from the collection")

2 documents deleted from the collection

Delete all docs

In [15]:
remove_all = new_col.delete_many({})

print(remove_all.deleted_count, "documents deleted from the collection")

9 documents deleted from the collection

# Deleting Collection

In [16]:
new_col.drop()

# Updating Collection

In [18]:
new_query = {"code": "code00"}

new_vals = {"$set": {"code": "codeZero"}}

new_col.update_one(new_query, new_vals)

for x in new_col.find():
    print(x)

{'_id': 1, 'name': 'student00', 'code': 'codeZero'}
{'_id': 2, 'name': 'student01', 'code': 'code01'}
{'_id': 3, 'name': 'student02', 'code': 'code02'}
{'_id': 4, 'name': 'student03', 'code': 'code03'}
{'_id': 5, 'name': 'student04', 'code': 'code04'}
{'_id': 6, 'name': 'student05', 'code': 'code05'}

# Display specific result

In [19]:
result = new_col.find().limit(3)

for i in result:
    print(i)

{'_id': 1, 'name': 'student00', 'code': 'codeZero'}
{'_id': 2, 'name': 'student01', 'code': 'code01'}
{'_id': 3, 'name': 'student02', 'code': 'code02'}