In [1]:
import sqlite3

new_connection = sqlite3.connect("data_testing.db")

In [2]:
print(type(new_connection))

<class 'sqlite3.Connection'>

In [3]:
new_cursor = new_connection.cursor()

In [4]:
new_sql = "SELECT datetime('now', 'localtime');"

In [5]:
new_cursor.execute(new_sql)

In [6]:
new_cursor.fetchone()

('2023-08-15 22:58:47',)

In [7]:
new_dtime = new_cursor.execute(new_sql).fetchone()[0]

In [8]:
print(new_dtime)

2023-08-15 22:58:47

In [9]:
new_connection.close()

In [10]:
with sqlite3.connect("data_testing.db") as new_connection:
    new_cursor = new_connection.cursor()
    new_sql = "SELECT datetime('now', 'localtime');"
    new_dtime = new_cursor.execute(new_sql).fetchone()[0]

In [11]:
print(new_dtime)

2023-08-15 22:58:48

# Create table with values

In [34]:
import sqlite3

new_connection = sqlite3.connect("data_testing.db")
new_cursor = new_connection.cursor()

new_cursor.execute("CREATE TABLE clients(Name TEXT, Number INT);")
new_cursor.execute("INSERT INTO clients VALUES('Dany', 2030)")

new_connection.commit()
new_cursor.execute("SELECT * FROM clients;")
new_connection.close()

In [35]:
new_connection = sqlite3.connect("data_testing.db")
new_cursor = new_connection.cursor()

new_cursor.execute("SELECT * FROM clients;")

In [36]:
new_cursor.fetchone()

('Dany', 2030)

In [32]:
new_cursor.execute("DROP TABLE clients;")

In [33]:
new_connection.commit()
new_connection.close()

 # Full Program to fetch all data from data_testing

In [43]:
import sqlite3

new_values = (
    ("Ronaldo", 7),
    ("Messi", 30),
    ("Salah", 11),
)

with sqlite3.connect("data_testing.db") as new_connection:
    new_cursor = new_connection.cursor()
    new_cursor.execute("DROP TABLE IF EXISTS clients")
    new_cursor.execute("CREATE TABLE clients(Name TAXT, Number INT);")

    new_cursor.executemany("INSERT INTO clients VALUES(?, ?)", new_values)

    new_cursor.execute("SELECT Name, Number FROM clients WHERE Number > 7;")

    for i in new_cursor.fetchall():
        print(i)

('Messi', 30)
('Salah', 11)